/* open sans font */
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

/* common items */
.dark2 {
  color: #474747;
}
/* primary button */
.primary-btn {
  color: white;
  background-color: #fd6e0a;
  padding: 18px 35px;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  font-size: 20px;
}
.primary-btn:hover {
  cursor: pointer;
}

/* header section */
header {
  background-image:
    url("../images/developer.png"), url("../images/header_bg.png");
  background-repeat: no-repeat;
  background-position:
    center left,
    bottom right;
}
/* navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 230px;
}
.navbar h3 {
  font-size: 45px;
  font-weight: bolder;
  color: #181818;
}
.navbar h3 span {
  color: #fd6e0a;
}
.navbar ul {
  display: flex;
  gap: 50px;
  align-items: center;
}
.navbar ul li {
  list-style-type: none;
}
.navbar li a {
  text-decoration: none;
  color: #474747;
  font-size: 20px;
}

/* hero section */
.hero-section .hero-btn {
  margin-top: 30px;
}
.hero-contact-btn {
  margin-left: 30px;
  background-color: white;
  color: #fd6e0a;
  border: 1px solid #fd6e0a;
}
.hero-section {
  margin: 0 38px 0 230px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero-des {
  max-width: 585px;
}
.hero-des .gretings {
  font-size: 45px;
  color: #474747;
}
.hero-des .des {
  font-size: 18px;
  color: #474747;
}
.hero-des h1 {
  color: #181818;
  font-size: 85px;
}
.hero-section img {
  width: 584px;
  height: 676px;
}

/* about me section */
.about-me {
  max-width: 1140px;
  height: 400px;
  background-color: #fff8f3;
  border-radius: 10px;
  padding: 130px 155px;
  margin: 130px 230px;
  text-align: center;
  display: flex;
  align-items: center;
}
.about-me h3 {
  color: #181818;
  font-size: 35px;
}
.about-me p {
  color: #757575;
  font-size: 18px;
}
.about-me .info-container {
  display: flex;
  justify-content: space-around;
}
.about-me div p span {
  color: #181818;
  font-weight: bold;
}

/* skills section */

.skills-info {
  text-align: center;
  margin: 130px 345px 30px 345px;
}
.skills-info h3 {
  color: #181818;
  font-weight: bold;
  font-size: 35px;
}
.skills-info p {
  color: #757575;
  font-size: 18px;
}
.skills-container {
  display: flex;
  gap: 24px;
  margin: 50px 230px 130px 230px;
}
.skill {
  /* height: 377px; */
  width: 267px;
  border-radius: 5px;
  padding: 30px;
  background-color: #ffffff;
  box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
  display: flex;
  align-items: center;
}
.skill h4 {
  color: #181818;
  font-size: 20px;
  font-weight: bold;
}
.skill p {
  color: #757575;
  font-size: 16px;
}

/* resume section */
.resume h2 {
  text-align: center;
  margin-bottom: 50px;
}
.resume button {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
}
.resume-container {
  display: flex;
  margin: 0 230px;
  gap: 24px;
}
.my-education h3,
.my-experience h3 {
  color: #474747;
  font-size: 30px;
}
.my-education h4,
.my-experience h4 {
  color: #474747;
  font-size: 25px;
}
.my-education .university,
.my-experience .university {
  color: #757575;
  font-size: 20px;
}
.my-education p,
.my-experience p {
  color: #757575;
  font-size: 16px;
  margin-bottom: 30px;
}
